<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color_purple</key>
	<dict>
		<key>hex</key>
		<string>#30338E</string>
	</dict>
	<key>color_blue</key>
	<dict>
		<key>hex</key>
		<string>#338BDB</string>
	</dict>
	<key>color_havelock_blue</key>
	<dict>
		<key>hex</key>
		<string>#4592DC</string>
	</dict>
	<key>color_text_grey</key>
	<dict>
		<key>hex</key>
		<string>#4F4F4F</string>
	</dict>
	<key>color_border_grey</key>
	<dict>
		<key>hex</key>
		<string>#CDCDCD</string>
	</dict>
	<key>color_text_light_grey</key>
	<dict>
		<key>hex</key>
		<string>#8F8E94</string>
	</dict>
	<key>color_text_dark_grey</key>
	<dict>
		<key>hex</key>
		<string>#6D6D72</string>
	</dict>
	<key>color_yellow</key>
	<dict>
		<key>hex</key>
		<string>#FABB59</string>
	</dict>
	<key>color_green</key>
	<dict>
		<key>hex</key>
		<string>#59D16D</string>
	</dict>
	<key>color_black</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
	</dict>
	<key>color_dark_gray</key>
	<dict>
		<key>hex</key>
		<string>#AFAFAF</string>
	</dict>
	<key>color_light_gray</key>
	<dict>
		<key>hex</key>
		<string>#FAFAFA</string>
	</dict>
	<key>color_white</key>
	<dict>
		<key>hex</key>
		<string>#FFFFFF</string>
	</dict>
	<key>color_red</key>
	<dict>
		<key>hex</key>
		<string>#BE242F</string>
	</dict>
	<key>img_your_stay_header</key>
	<dict>
		<key>imageName</key>
		<string>img_your_stay_header</string>
	</dict>
	<key>img_aboutus_header</key>
	<dict>
		<key>imageName</key>
		<string>img_aboutus_header</string>
	</dict>
	<key>Header</key>
	<dict>
		<key>type</key>
		<string>UILabel</string>
		<key>font</key>
		<string>SystemFont</string>
		<key>fontWeight</key>
		<string>Bold</string>
		<key>textColor</key>
		<string>color_text_grey</string>
		<key>textSize</key>
		<integer>17</integer>
	</dict>
	<key>SubHeader</key>
	<dict>
		<key>type</key>
		<string>UILabel</string>
		<key>font</key>
		<string>SystemFont</string>
		<key>fontWeight</key>
		<string>Medium</string>
		<key>textColor</key>
		<string>color_text_grey</string>
		<key>textSize</key>
		<integer>15</integer>
	</dict>
	<key>NormalText</key>
	<dict>
		<key>type</key>
		<string>UILabel</string>
		<key>font</key>
		<string>SystemFont</string>
		<key>fontWeight</key>
		<string>Regular</string>
		<key>textColor</key>
		<string>color_text_grey</string>
		<key>textSize</key>
		<integer>15</integer>
	</dict>
	<key>MediumText</key>
	<dict>
		<key>type</key>
		<string>UILabel</string>
		<key>font</key>
		<string>SystemFont</string>
		<key>fontWeight</key>
		<string>Regular</string>
		<key>textColor</key>
		<string>color_text_grey</string>
		<key>textSize</key>
		<integer>13</integer>
	</dict>
	<key>SmallText</key>
	<dict>
		<key>type</key>
		<string>UILabel</string>
		<key>font</key>
		<string>SystemFont</string>
		<key>fontWeight</key>
		<string>Regular</string>
		<key>textColor</key>
		<string>color_text_grey</string>
		<key>textSize</key>
		<integer>12</integer>
	</dict>
	<key>BlueButton</key>
	<dict>
		<key>type</key>
		<string>UIButton</string>
		<key>font</key>
		<string>SystemFont</string>
		<key>hex</key>
		<string>color_white</string>
		<key>textSize</key>
		<integer>14</integer>
		<key>bgHex</key>
		<string>color_havelock_blue</string>
		<key>cornerRadius</key>
		<integer>10</integer>
	</dict>
	<key>ShadowLight</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>5</integer>
		<key>opacity</key>
		<real>0.3</real>
		<key>radius</key>
		<integer>10</integer>
	</dict>
</dict>
</plist>
